#box
{
position: absolute;
width: 50%;
height: 30%;
left: 42%;
top: 65%;
}

#box_error
{
position: absolute;
width: 50%;
height: 30%;
left: 39%;
top: 65%;
}

#text
{
font-family:arial;
color:blue;
font-size:14px;
}
